body {
  margin: 0;
}
body * {
  font-family: 'Microsoft Yahei';
  color: black;
}
.top_page_frame {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 0 60px;
}
.top_page_frame h1 {
  text-decoration: underline;
  font-size: 48px;
  width: fit-content;
}
.top_page_frame a {
  font-size: 26px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.search_location {
  width: 50%;
  margin: auto;
}
.search_location input {
  margin-top: 71px;
  height: 50px;
  width: 100%;
  padding: 10px;
  font-size: inherit;
}
.search_location input:focus::placeholder {
  color: transparent;
}
.selection_box {
  border-style: solid;
  border-width: 1px;
  background-color: white;
  border-color: black;
}
.option * {
  padding: 10px;
  background-color: white;
}
.options_hover *:hover,
.option_selected {
  background-color: orange;
  color: white;
}
#burgermenu {
  height: 100px;
  width: fit-content;
  position: relative;
  /* if logged in: display: block; */
  display: none;
}
#imgage_burger {
  height: inherit;
  width: inherit;
  margin: auto;
  float: right;
}
#selection_burgermenu {
  width: inherit;
  min-width: 100%;
  float: right;
  text-align: center;
  border-width: 2px;
  visibility: hidden;
}
#selection_search_location {
  max-height: 208px;
  overflow: auto;
  visibility: hidden;
}
.selection_font {
  font-size: 24px;
}
.button_selecter {
  text-align: center;
  display: flex;
}
.button_selecter * {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100%;
}
#button_selecter_present_future {
  border-radius: 20px 0 0 20px;
}
#button_selecter_past {
  border-radius: 0 20px 20px 0;
}
.clickable {
  cursor: pointer;
}
#link_login {
  /* if logged in: visibility: hidden; */
  visibility: visible;
}
#button_selecter_weather {
  /* if location for weather data has been chosen: visibility: visible; */
  /* visibility: hidden; */
}
#seven_days_weather {
  padding: 10px;
  text-align: center;
}
#div_weather {
  width: 50%;
  margin: auto;
}
#div_weather_data {
  margin-top: 50px;
}
#weather_data {
  display: flex;
  justify-content: space-evenly;
}
