body {
  margin: 0;
  font-family: 'Microsoft Yahei';
  color: black;
}
.top_page_frame {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 0 60px;
}
.top_page_frame h1 {
  text-decoration: underline;
  font-size: 48px;
}
.top_page_frame a {
  font-size: 26px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.search_location {
  font-size: 24px;
  width: 986px;
  margin: auto;
}
.search_location input {
  margin-top: 71px;
  height: 50px;
  width: 100%;
  padding: 10px;
  font-size: inherit;
}
.search_location input:focus::placeholder {
  color: transparent;
}
.search_location_suggestions {
  width: 984px;
  border-style: solid;
  border-width: 1px;
  overflow: auto;
  max-height: 200px;
}
.search_location_suggestions option {
  padding: 10px;
}
.search_location_suggestions option:hover {
  background-color: orange;
  color: white;
}
