<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoriten</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>

    <!-- oberer Rand (header) -->
    <nav class="top_page_frame">
        <div style="display: flex; align-items: flex-start; flex-direction: column;">
            <a href="index.html">
                <h1 id="website_title">Wetter-App</h1>
            </a>
        </div>
        <h1 id="page_title">Favoriten</h1>
        <div style="display: flex; align-items: flex-end; flex-direction: column;">
            <a href="login.html" style="visibility: hidden;" id="link_login">Einloggen</a>
        </div>
    </nav>

    <div class="form">
        <div>
            <div style="display: flex; flex-direction: row; align-items: center;">
                <div class="flex_list" style="width: 100%; margin-right: 50px;">
                    <div>
                        <div>Koordinaten</div>
                        <div>
                            <div>Breitengrad</div>
                            <div>Längengrad</div>
                        </div>
                        <div>
                            <div>
                                <div>52.52</div>
                            </div>
                            <div>
                                <div>13.40</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>PLZ</div>
                        <div>10713</div>
                    </div>
                    <div>
                        <div>Ort</div>
                        <div>Berlin</div>
                    </div>
                    <div>
                        <div>Land</div>
                        <div>Deutschland</div>
                    </div>
                </div>
                <div class="clickable" title="Entfernen">
                    <img src="../images/mulleimer.png" id="bin_img">
                </div>
            </div>
            <div class="parting_line"></div>
        </div>
        <div>
            <div style="display: flex; flex-direction: row; align-items: center;">
                <div class="flex_list" style="width: 100%; margin-right: 50px;">
                    <div>
                        <div>Koordinaten</div>
                        <div>
                            <div>Breitengrad</div>
                            <div>Längengrad</div>
                        </div>
                        <div>
                            <div>
                                <div>52.52</div>
                            </div>
                            <div>
                                <div>13.40</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>PLZ</div>
                        <div>10713</div>
                    </div>
                    <div>
                        <div>Ort</div>
                        <div>Berlin</div>
                    </div>
                    <div>
                        <div>Land</div>
                        <div>Deutschland</div>
                    </div>
                </div>
                <div class="clickable" title="Entfernen">
                    <img src="../images/mulleimer.png" id="bin_img">
                </div>
            </div>
            <div class="parting_line"></div>
        </div>
    </div>
</body>

</html>