<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Wetter-App</title>
</head>

<body>

    <!-- oberer Rand -->
    <header class="top_page_frame">
        <a href="">
            <h1>Wetter-App</h1>
        </a>
        <h1></h1>
        <a href="login.html" id="link_login">Einloggen</a>
        <div class="selection_font clickable" id="burgermenu">
            <img id="imgage_burger" src="../images/burgermenu.png">
            <div class="selection_box option options_hover" id="selection_burgermenu">
                <option value="">Favoriten</option>
                <option value="">Einstellungen</option>
                <option value="">Logout</option>
            </div>
        </div>
    </header>

    <!-- suchfeld für orte -->
    <div class="search_location selection_font">
        <input type="search" id="input_search_location" placeholder="Suche nach Ort...">
        <div class="selection_box option options_hover" id="selection_search_location">
            <option value="">Berlin</option>
            <option value="">Hamburg</option>
            <option value="">München</option>
            <option value="">Bremen</option>
        </div>
    </div>

    <!-- alles ums wetter -->
    <div id="div_weather">

        <!-- zeit auswählen für die anzuzeigenden wetterdaten -->
        <div class="button_selecter selection_font option clickable" id="button_selecter_weather">

            <!-- auswahlbuttons -->
            <span class="option_selected" id="button_selecter_present_future">
                Gegenwart/Zukunft
            </span>
            <span id="button_selecter_past">
                Vergangenheit
            </span>
        </div>

        <!-- gesamter wettercontainer -->
        <div class="" id="div_weather_data">

            <!-- überschrift -->
            <div class="option_selected selection_font" id="seven_days_weather">
                7 Tage
            </div>

            <!-- wetterdaten -->
            <div id="weather_data">

                <!-- einzelne tage mit wetterdaten -->
                <span class="weather_data_one_day">
                    <div>
                        <div>
                            Datum
                        </div>
                        <div>
                            Wochentag
                        </div>
                    </div>
                    <div class="temperature">
                        <div style="display: flex; justify-content: space-evenly;">
                            <span>Max</span>
                            <span class="max_temp">21°</span>
                        </div>
                        <div style="display: flex; justify-content: space-evenly;">
                            <span>Min</span>
                            <span class="min_temp">11°</span>
                        </div>
                    </div>
                    <div>
                        <span>Regenwahrscheinlichkeit:</span>
                        <span>50%</span>
                    </div>
                </span>
                
                <!-- <span>
                    sdsdf
                </span>
                <span>
                    sdsdf
                </span>
                <span>
                    sdsdf
                </span>
                <span>
                    sdsdf
                </span>
                <span>
                    sdsdf
                </span>
                <span>
                    sdsdf
                </span> -->
            </div>
        </div>
    </div>



    <!-- scripts -->
    <script>
        // var selection_search_location = document.getElementById('selection_search_location')
        // var selection_search_location_style = window.getComputedStyle(selection_search_location)
        // selection_search_location.style.marginBottom = parseInt(selection_search_location_style.maxHeight) - parseInt(selection_search_location_style.height) + 50 + "px"
    </script>
</body>

</html>