<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>

    <!-- oberer Rand (header) -->
    <nav class="top_page_frame">
        <div>
            <a href="index.html">
                <h1 id="website_title">Wetter-App</h1>
            </a>
        </div>
        <h1 id="page_title">Login</h1>
        <div>
            <a href="register.html" style="visibility: visible;" id="link_register">Registrieren</a>
        </div>
    </nav>

    <div class="form">
        <div>
            <label for="email">E-Mail</label>
            <input type="email" id="email">
        </div>
        <div>
            <label>Passwort</label>
            <input type="password" id="password">
        </div>
        <div class="submit_button design element_title" id="button_login">
            Einloggen
        </div>
    </div>
</body>

<script src="../scripts/login.js" type='module'></script>

</html>