<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>

    <!-- oberer Rand (header) -->
    <header class="top_page_frame">
        <a href="index.html">
            <h1 id="website_title">Wetter-App</h1>
        </a>
        <h1 id="page_title">Login</h1>
        <a href="login.html" style="visibility: hidden;" id="link_login">Einloggen</a>
    </header>

    <form action="">
        <label for="">E-Mail</label>
        <input type="email">
        <label for="">Passwort</label>
        <input type="password">
    </form>
</body>

</html>