<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>

    <!-- oberer Rand (header) -->
    <nav class="top_page_frame">
        <div>
            <a href="index.html">
                <h1 id="website_title">Wetter-App</h1>
            </a>
        </div>
        <h1 id="page_title">Login</h1>
        <div>
            <a href="login.html" style="visibility: visible;" id="link_login">Einloggen</a>
        </div>
    </nav>

    <div class="form">
        <div>
            <label>E-Mail</label>
            <input type="email">
        </div>
        <div>
            <label>Passwort</label>
            <input type="password">
        </div>
        <div class="submit_button design element_title">
            Einloggen
        </div>
    </div>
</body>

</html>